{% extends "base.html" %}
{% load static %}

{% block extra_head %}

    <link href="https://upload.wikimedia.org/wikipedia/en/5/56/Logo-jiit.png" rel="icon"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<!-- Bootstrap CSS -->
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"/>
<title> Medicinal Plant Metabolite Database </title>
<!-- Fontawesome Link for Icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="legacy-page">
<div class="hero">
<img src="{% static 'images/JIIT.png' %}" style="height: 100px; width: 97px; border-radius:5px;padding:-0.5rem;left:1rem;top:-0.5rem; position: relative;aspect-ratio: 1 / 1; "/>
<br/>
<div class="hero-1 hero-cta">
<h1> MPMDB- Medicinal Plant Metabolite Database </h1>
<h2><marquee direction="left" height="100px" width="100%"><u>A comprehensive Medicinal Plant Metabolites Database</u>
</marquee></h2>
</div>
<img src="{% static 'images/GBU.jpg' %}" style="height: 100px; width:97px; border-radius:5px; padding: -0.5rem;top:-0.5rem; right:1rem; position:relative; aspect-ratio: 1 / 1;
          "/>
</div>
<main>
<nav class="navbar">
<input id="menu-toggler" type="checkbox"/>
<label for="menu-toggler" id="hamburger-btn">
<svg fill="white" height="24px" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"></path>
</svg>
</label>
<ul class="all-links">
<a href="home.html">
<p><i><b>Home</b></i></p>
</a>
<a href="intro.html">
<p><i><b>Introduction </b></i></p>
</a>
<a href="classification.html">
<p><i><b>Taxonomy </b></i></p>
</a>
<a href="basic.html">
<p><i><b>Botanical<br/> Description </b></i></p>
</a>
<a href="genomes.html">
<p><i><b>Genome Sequencing <br/>Expression Profile</b></i></p>
</a>
<a href="transcriptom.html">
<p><i><b>Transcriptomics</b></i></p>
</a>
<a href=" proteome.html">
<p><i><b>Proteomics</b></i></p>
</a>
<a href="metabolites.html">
<p><i><b>Metabolomics</b></i></p>
</a>
<a href="plantbot.html">
<p><i><b>Plant Bot AI</b></i></p>
</a>
</ul></nav>
</main>
<div class="carousel slide my-3" data-ride="carousel" id="demo">
<ul class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#demo"></li>
<li data-slide-to="1" data-target="#demo"></li>
<li data-slide-to="2" data-target="#demo"></li>
<li data-slide-to="3" data-target="#demo"></li>
<li data-slide-to="4" data-target="#demo"></li>
</ul>
<!--Slideshow starts here -->
<div class="container carousel-inner no-padding">
<div class="carousel-item active">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/aloe.avif');">
<h5 class="card-title"><b>ALOEVERA</b></h5>
<p class="card-text"><u><i>(Aloe barbadensis Mill.)</i></u></p>
<a class="btn btn-primary" href="aloevera.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/amla3.avif')">
<h5 class="card-title"><b>AMLA</b></h5>
<p class="card-text"><u><i>(Phyllanthus emblica)</i></u></p>
<a class="btn btn-primary" href="amla.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/theme.png')">
<h5 class="card-title"><b>ASHWAGANDHA</b></h5>
<p class="card-text"><u><i>(Withania somnifera)</i></u></p>
<a class="btn btn-primary" href="ashwagandha.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/babool.avif')">
<h5 class="card-title"><b>BABOOL</b></h5>
<p class="card-text"><u><i>(Vachellia nilotica)</i></u></p>
<a class="btn btn-primary" href="babool.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/bhring.avif')">
<h5 class="card-title"><b>BHRINGRAJ</b></h5>
<p class="card-text"><u><i>(Eclipta prostrata)</i></u></p>
<a class="btn btn-primary" href="bhringraj.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/cinn.jpg')">
<h5 class="card-title"><b>CINNAMON</b></h5>
<p class="card-text"><u><i>(Cinnamomum verum)</i></u></p>
<a class="btn btn-primary" href="cinnamon.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/clove.jpg')">
<h5 class="card-title"><b>CLOVE</b></h5>
<p class="card-text"><u><i>(Syzygium aromaticum)</i></u></p>
<a class="btn btn-primary" href="clove.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/cumin.avif')">
<h5 class="card-title"><b>CUMIN</b></h5>
<p class="card-text"><u><i>(Cuminum cyminum)</i></u></p>
<a class="btn btn-primary" href="cumin.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/cur.avif')">
<h5 class="card-title"><b>CURRY LEAVES</b></h5>
<p class="card-text"><u><i>(Murraya koenigii)</i></u></p>
<a class="btn btn-primary" href="curry.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/euca.avif')">
<h5 class="card-title"><b>EUCALYPTUS</b></h5>
<p class="card-text"><u><i>(Eucalyptus tereticornis.)</i></u></p>
<a class="btn btn-primary" href="eucalyptus.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/ginger.avif')">
<h5 class="card-title"><b>GINGER</b></h5>
<p class="card-text"><u><i>(Zingiber officinale)</i></u></p>
<a class="btn btn-primary" href="ginger.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/lav.avif')">
<h5 class="card-title"><b>LAVENDER</b></h5>
<p class="card-text"><u><i>(Lavandula angustifolia. )</i></u></p>
<a class="btn btn-primary" href="lavender.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/mehndi.png')">
<h5 class="card-title"><b>MEHNDI</b></h5>
<p class="card-text"><u><i>(Lawsonia inermis)</i></u></p>
<a class="btn btn-primary" href="mehndi.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/neem2.png')">
<h5 class="card-title"><b>NEEM</b></h5>
<p class="card-text"><u><i>(Azadirachta indica)</i></u></p>
<a class="btn btn-primary" href="neem.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/pm2.avif')">
<h5 class="card-title"><b>PEPPERMINT</b></h5>
<p class="card-text"><u><i>(Mentha piperita)</i></u></p>
<a class="btn btn-primary" href="peppermint.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/tulsi.jpeg')">
<h5 class="card-title"><b>TULSI</b></h5>
<p class="card-text"><u><i>(Ocimum tenuiflorum)</i></u></p>
<a class="btn btn-primary" href="tulsi.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background: rgb(244, 253, 0);
              ">
<h5 class="card-title"><b>TURMERIC</b></h5>
<p class="card-text"><u><i>(Curcuma longa)</i></u></p>
<a class="btn btn-primary" href="turmeric.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
</div>
<!-- left and right controls for the slide 
      <a class="carousel-control-prev" href="#demo" data-slide="prev" >
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next" >
          <span class="carousel-control-next-icon"></span>
      </a>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->



<br/> <br/><br/><br/>
<div class="bx quote">
<marquee class="blink"><p style="font-size: 50px;font-weight: 500;color:#012d0e;"><u>Clove<i>(Syzygium aromaticum)</i></u></p></marquee>
<p style="font-size: 25px; text-align: justify">
Clove, also known as Syzygium aromaticum, is a spice derived from the dried flower buds of the clove tree. It is widely used in cooking and traditional medicine due to its aromatic flavor and potential health benefits. They are particularly rich in dietary fiber, manganese, vitamin C, and several minerals. They also contain smaller amounts of other vitamins and minerals.
</p>
<br/><br/>
<h2 style="font-size: 28px;color:#1c6506;"> <b><u>Nutritional Value of Clove :</u></b></h2><br/>
<ul style="font-size: 25px; text-align: justify">The nutrients found are:<br/>
<br/><li><b>Calories:</b>323 kcal</li>
<br/><li><b>Carbohydrates:</b>61 grams</li>
<br/><li><b>Protein:</b>6 grams </li>
<br/><li><b>Fat:</b>13 grams</li>
<br/><li><b>Fiber:</b>34 grams</li>
<br/><li><b>Vitamin C:</b>80 milligrams </li>
<br/><li><b>Vitamin K:</b>14.8 micrograms</li>
<br/><li><b>Vitamin E:</b>6 milligrams </li>
<br/><li><b>Calcium:</b>631 milligrams </li>
</ul>
<br/><br/>
<h2 style="font-size: 28px;color:#1c6506;"> <b><u>Properties of Clove :</u></b></h2><br/>
<ul style="font-size: 25px; text-align: justify">
<li><b>Aromatic Flavor:</b>Cloves have a strong, warm, and aromatic flavor that adds depth and richness to various dishes.  </li>
<br/><li><b>Anti-Inflammatory Effects:</b>Cloves possess anti-inflammatory properties that can help reduce inflammation in the body.  </li>
<br/><li><b>Nalgesic and Anesthetic Properties:</b>Clove oil, derived from cloves, contains eugenol, which exhibits analgesic (pain-relieving) and anesthetic properties. </li>
<br/><li><b>Anti-Oxidant Activity:</b>Cloves are rich in antioxidants, which help protect cells from damage caused by free radicals. The antioxidants in cloves may help reduce oxidative stress and have potential anti-aging and disease-preventive effects.</li>
</ul>
<br/><br/>
<h2 style="font-size: 28px;color:#1c6506;"> <b><u>Side Effects of Clove :</u></b></h2><br/>
<ul style="font-size: 25px; text-align: justify">
<li><b>Allergic Reactions:</b>Some individuals may have allergies or sensitivities to cloves. Allergic reactions can include symptoms such as skin rash, itching, swelling, difficulty breathing, or gastrointestinal distress.</li>
<br/><li><b>Blood Thinning Effects:</b>Cloves contain eugenol, a compound that may have mild blood-thinning properties. </li>
<br/><li><b>Dental Sensitivity:</b>Clove oil is sometimes used for toothache relief due to its numbing properties. However, excessive use or direct application of undiluted clove oil to the gums or teeth may cause irritation, sensitivity, or damage to the oral tissues.</li>
<br/><li><b>Gastro-Intestinal Issues:</b>In high doses, cloves may cause digestive discomfort, including heartburn, stomach upset, or diarrhea. </li>
</ul>
<br/><br/>
<h2 style="font-size: 28px;color:#1c6506;"> <b><u>Interactions with other Drugs :</u></b></h2><br/>
<ul style="font-size: 25px; text-align: justify">It is essential to take precautions when using Clove with:<br/>
<br/><li><b>Liver-Metabolized Drugs:</b>Clove oil or supplements may interact with medications that are metabolized by the liver, such as certain antiviral drugs, antifungal medications, and some antidepressants.</li>
<br/><li><b>Diabetes Medications:</b>Clove supplements or concentrated forms may have potential effects on blood sugar levels.</li>
</ul>
<br/>
<img src="{% static 'images/clove2.png' %}" style="width: 700px; height:800px; display: block; margin-left: auto; margin-right: auto;"/>
</div>
</div>
<footer>
<div>
<span>Copyright © Jaypee Institute Of Information Technology, UP and  Gujarat Biotechnology University, Gujarat</span>
<span class="link">
<a href="#">Top</a>
<a href="home.html">Home</a>
</span>
</div>
</footer>
{% endblock %}

{% block extra_scripts %}
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
{% endblock %}
