{% extends "base.html" %}
{% load static %}

{% block extra_head %}

    <link href="https://upload.wikimedia.org/wikipedia/en/5/56/Logo-jiit.png" rel="icon"/>
<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<!-- Bootstrap CSS -->
<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" rel="stylesheet"/>
<title> Medicinal Plant Metabolite Database </title>
<!-- Fontawesome Link for Icons -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="legacy-page">
<div class="hero">
<img src="{% static 'images/JIIT.png' %}" style="height: 100px; width: 97px; border-radius:5px;padding:-0.5rem;left:1rem;top:-0.5rem; position: relative;aspect-ratio: 1 / 1; "/>
<br/>
<div class="hero-1 hero-cta">
<h1> MPMDB- Medicinal Plant Metabolite Database </h1>
<h2><marquee direction="left" height="100px" width="100%"><u>A comprehensive Medicinal Plant Metabolites Database</u>
</marquee></h2>
</div>
<img src="{% static 'images/GBU.jpg' %}" style="height: 100px; width:97px; border-radius:5px; padding: -0.5rem;top:-0.5rem; right:1rem; position:relative; aspect-ratio: 1 / 1;
          "/>
</div>
<main>
<nav class="navbar">
<input id="menu-toggler" type="checkbox"/>
<label for="menu-toggler" id="hamburger-btn">
<svg fill="white" height="24px" viewbox="0 0 24 24" width="24px" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0h24v24H0z" fill="none"></path>
<path d="M3 18h18v-2H3v2zm0-5h18V11H3v2zm0-7v2h18V6H3z"></path>
</svg>
</label>
<ul class="all-links">
<a href="home.html">
<p><i><b>Home</b></i></p>
</a>
<a href="intro.html">
<p><i><b>Introduction </b></i></p>
</a>
<a href="classification.html">
<p><i><b>Taxonomy </b></i></p>
</a>
<a href="basic.html">
<p><i><b>Botanical<br/> Description </b></i></p>
</a>
<a href="genomes.html">
<p><i><b>Genome Sequencing <br/>Expression Profile</b></i></p>
</a>
<a href="transcriptom.html">
<p><i><b>Transcriptomics</b></i></p>
</a>
<a href=" proteome.html">
<p><i><b>Proteomics</b></i></p>
</a>
<a href="metabolites.html">
<p><i><b>Metabolomics</b></i></p>
</a>
<a href="plantbot.html">
<p><i><b>Plant Bot AI</b></i></p>
</a>
</ul></nav>
</main>
<div class="carousel slide my-3" data-ride="carousel" id="demo">
<ul class="carousel-indicators">
<li class="active" data-slide-to="0" data-target="#demo"></li>
<li data-slide-to="1" data-target="#demo"></li>
<li data-slide-to="2" data-target="#demo"></li>
<li data-slide-to="3" data-target="#demo"></li>
<li data-slide-to="4" data-target="#demo"></li>
</ul>
<!--Slideshow starts here -->
<div class="container carousel-inner no-padding">
<div class="carousel-item active">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/aloe.avif');">
<h5 class="card-title"><b>ALOEVERA</b></h5>
<p class="card-text"><u><i>(Aloe barbadensis Mill.)</i></u></p>
<a class="btn btn-primary" href="aloevera.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/amla3.avif')">
<h5 class="card-title"><b>AMLA</b></h5>
<p class="card-text"><u><i>(Phyllanthus emblica)</i></u></p>
<a class="btn btn-primary" href="amla.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/theme.png')">
<h5 class="card-title"><b>ASHWAGANDHA</b></h5>
<p class="card-text"><u><i>(Withania somnifera)</i></u></p>
<a class="btn btn-primary" href="ashwagandha.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/babool.avif')">
<h5 class="card-title"><b>BABOOL</b></h5>
<p class="card-text"><u><i>(Vachellia nilotica)</i></u></p>
<a class="btn btn-primary" href="babool.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/bhring.avif')">
<h5 class="card-title"><b>BHRINGRAJ</b></h5>
<p class="card-text"><u><i>(Eclipta prostrata)</i></u></p>
<a class="btn btn-primary" href="bhringraj.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/cinn.jpg')">
<h5 class="card-title"><b>CINNAMON</b></h5>
<p class="card-text"><u><i>(Cinnamomum verum)</i></u></p>
<a class="btn btn-primary" href="cinnamon.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/clove.jpg')">
<h5 class="card-title"><b>CLOVE</b></h5>
<p class="card-text"><u><i>(Syzygium aromaticum)</i></u></p>
<a class="btn btn-primary" href="clove.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/cumin.avif')">
<h5 class="card-title"><b>CUMIN</b></h5>
<p class="card-text"><u><i>(Cuminum cyminum)</i></u></p>
<a class="btn btn-primary" href="cumin.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/cur.avif')">
<h5 class="card-title"><b>CURRY LEAVES</b></h5>
<p class="card-text"><u><i>(Murraya koenigii)</i></u></p>
<a class="btn btn-primary" href="curry.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/euca.avif')">
<h5 class="card-title"><b>EUCALYPTUS</b></h5>
<p class="card-text"><u><i>(Eucalyptus tereticornis.)</i></u></p>
<a class="btn btn-primary" href="eucalyptus.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/ginger.avif')">
<h5 class="card-title"><b>GINGER</b></h5>
<p class="card-text"><u><i>(Zingiber officinale)</i></u></p>
<a class="btn btn-primary" href="ginger.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/lav.avif')">
<h5 class="card-title"><b>LAVENDER</b></h5>
<p class="card-text"><u><i>(Lavandula angustifolia. )</i></u></p>
<a class="btn btn-primary" href="lavender.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/mehndi.png')">
<h5 class="card-title"><b>MEHNDI</b></h5>
<p class="card-text"><u><i>(Lawsonia inermis)</i></u></p>
<a class="btn btn-primary" href="mehndi.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem; border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/neem2.png')">
<h5 class="card-title"><b>NEEM</b></h5>
<p class="card-text"><u><i>(Azadirachta indica)</i></u></p>
<a class="btn btn-primary" href="neem.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/pm2.avif')">
<h5 class="card-title"><b>PEPPERMINT</b></h5>
<p class="card-text"><u><i>(Mentha piperita)</i></u></p>
<a class="btn btn-primary" href="peppermint.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background-image:url('{{ STATIC_URL }}/static/images/tulsi.jpeg')">
<h5 class="card-title"><b>TULSI</b></h5>
<p class="card-text"><u><i>(Ocimum tenuiflorum)</i></u></p>
<a class="btn btn-primary" href="tulsi.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
<div class="carousel-item">
<div class="col-xs-3 col-sm-3 col-md-3">
<div class="card" style="width: 15rem;border-color:#000000">
<div class="card-body" style="background: rgb(244, 253, 0);
              ">
<h5 class="card-title"><b>TURMERIC</b></h5>
<p class="card-text"><u><i>(Curcuma longa)</i></u></p>
<a class="btn btn-primary" href="turmeric.html" style="background-color:#1c6506; border-color:#000000">Run</a>
</div>
</div>
</div>
</div>
</div>
<!-- left and right controls for the slide 
      <a class="carousel-control-prev" href="#demo" data-slide="prev" >
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next" >
          <span class="carousel-control-next-icon"></span>
      </a>-->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->



<br/> <br/><br/><br/>
<div class="bx quote">
<marquee class="blink"><p style="font-size: 50px;font-weight: 500;color:	#800080;"><u> Lavender <i>(Lavandula angustifolia.)</i></u></p></marquee>
<p style="font-size: 25px; text-align: justify">
          Lavender, scientifically known as Lavandula angustifolia, is a popular aromatic herb that is widely used for its soothing scent and various properties.Lavender is commonly used in aromatherapy due to its calming and relaxing fragrance. Inhaling lavender essential oil or using lavender-based products like candles or sachets is believed to promote relaxation, reduce stress, and improve sleep quality.It contains certain compounds with antimicrobial properties that may help reduce the growth of bacteria on the skin, making it beneficial for acne-prone skin.
        </p>
<br/><br/>
<h2 style="font-size: 28px; color:#702963;"><b><u>Nutritional Value of Lavender :</u></b> </h2><br/>
<ul style="font-size: 25px; text-align: justify"><b><u> </u></b> <br/>The nutrients found are:<br/><br/>
<li><b>Vitamins:</b>Lavender contains small amounts of certain vitamins, including vitamin A, vitamin C, and vitamin K.  </li>
<br/><li><b>Minerals:</b>Lavender contains trace amounts of minerals such as calcium, iron, and manganese.</li>
<br/><li><b>Anti-Oxidants:</b>Lavender contains several antioxidants, such as rosmarinic acid, luteolin, and apigenin. </li>
</ul>
<br/><br/>
<h2 style="font-size: 28px; color:#702963;"><b><u>Properties of Lavender :</u></b> </h2><br/>
<ul style="font-size: 25px; text-align: justify">
<li><b>Aromatic and Relaxing:</b>Lavender is renowned for its pleasant and calming aroma. The scent of lavender has a soothing effect on the mind and body, helping to reduce stress, anxiety, and promoting relaxation. </li>
<br/><li><b>Anti-Microbial:</b>Lavender exhibits antimicrobial properties, particularly against certain strains of bacteria and fungi. It has been used traditionally to disinfect wounds and prevent infection. </li>
<br/><li><b>Anti-Inflammatory:</b>Lavender has mild anti-inflammatory properties. It may help reduce inflammation and provide relief for conditions such as minor skin irritations, insect bites, or sunburns.  </li>
<br/><li><b>Analgesic:</b>Lavender has been used for its potential analgesic or pain-relieving properties. It may help alleviate mild pain or discomfort, such as headaches, muscle aches, or menstrual cramps. </li>
<br/><li><b>Sleep Aid:</b>Lavender is well-known for its ability to promote relaxation and improve sleep quality. It is commonly used as a natural remedy for insomnia or sleep difficulties. </li>
<br/><li><b>Mood Stabilizing:</b>Lavender is associated with mood stabilization and emotional balance. It is often used in aromatherapy and personal care products to reduce stress, anxiety, and promote a sense of well-being.</li>
</ul>
<br/><br/>
<h2 style="font-size: 28px; color:#702963;"><b><u>Side Effects of Lavender :</u></b> </h2><br/>
<ul style="font-size: 25px; text-align: justify">
<li><b>Skin Irritation:</b>Lavender essential oil or products containing lavender oil may cause skin irritation or allergic reactions in some individuals. </li>
<br/><li><b>Hormonal Effects:</b>There is limited evidence suggesting that lavender oil may have hormonal effects, particularly estrogenic activity. </li>
<br/><li><b>Gastrointestinal Issues:</b>Ingesting large amounts of lavender oil or lavender supplements may cause gastrointestinal upset, such as nausea, vomiting, or stomach pain.</li>
</ul>
<br/><br/>
<h2 style="font-size: 28px; color:#702963;"><b><u>Interactions with other Drugs :</u></b> </h2><br/>
<ul style="font-size: 25px; text-align: justify">It is essential to take precautions when using Lavender with:<br/><br/>
<li><b>Sedative Medications:</b>Lavender has mild sedative properties and may promote relaxation and calmness. If you are taking sedative medications, such as benzodiazepines or sleep aids, using lavender concurrently may have an additive effect and increase the sedative effects.</li>
<br/><li><b>Blood Pressure Medications:</b>Lavender may have a mild hypotensive effect, meaning it may lower blood pressure.</li>
<br/><li><b>Antidepressant Medications:</b>Lavender may have potential interactions with certain antidepressant medications, such as selective serotonin reuptake inhibitors (SSRIs) or monoamine oxidase inhibitors (MAOIs).</li>
</ul>
<br/>
<img src="{% static 'images/lav.png' %}" style="width: 800px; height:450px; display: block; margin-left: auto; margin-right: auto;"/>
</div>
</div>

<footer>
<div>
<span>Copyright © Jaypee Institute Of Information Technology, UP and  Gujarat Biotechnology University, Gujarat</span>
<span class="link">
<a href="#">Top</a>
<a href="home.html">Home</a>
</span>
</div>
</footer>
{% endblock %}

{% block extra_scripts %}
<script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
{% endblock %}
